<!-- Main content -->
<header class="main-header">
    <nav class="navbar navbar-static-top " role="navigation">
        <p ng-if="clopen===1" type="button" class=" sidebar-toggle-ln {{float_right}}" ng-click="openAside(sensMenu)">
            <i class="fa fa-bars fa-white-color"></i>
        </p>
        <p ng-if="clopen===0" type="button" class=" sidebar-toggle-ln {{float_right}}" ng-click="cancel($event)">
            <i class="fa fa-bars fa-white-color"></i>
        </p>
        <div class="bar-top-head" >
            <div class="div-titre" >
                Home
            </div>
        </div>
    </nav>
</header>
<section class="content content-incident">
</section>
